*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-color: #1F2937;
    color: white;
    padding: 20px 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}


ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
}

.website-info{
    display: flex;
    padding-bottom: 40px;
    gap: 40px;
    align-items: center;
}

.left-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.left-info h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.left-info p {
    font-size: 18px;
    color: #E5E7EB;
}

.left-info button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding:8px 30px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: fit-content;  /* button only as wided as neede */
    margin-top: 10px;
}

.right-image{
    display: flex;
    flex: 1;
    background-color: #6B7280;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    color: #E5E7EB;

}

.random-info {
    padding: 40px 100px;
    text-align: center;
}

.header-info {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 40px;
}

.info-container{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;

}

.box {
    border-radius: 15px;
    border: 4px solid blue;
    height: 150px;
    width: 150px;
    margin-bottom: 10px;

}